aiohttp==3.8.4
aiosignal==1.3.1
altair==4.2.2
anyio==3.6.2
async-timeout==4.0.2
attrs==23.1.0
backoff==2.2.1
black @ file:///Users/runner/miniforge3/conda-bld/black-recipe_1682492095737/work
blinker==1.6.2
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1666764738024/work
cachetools==5.3.0
certifi==2022.12.7
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1671179421243/work
chardet @ file:///Users/runner/miniforge3/conda-bld/chardet_1669990542487/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1678108872112/work
chromadb==0.3.21
click @ file:///home/conda/feedstock_root/build_artifacts/click_1666798198223/work
clickhouse-connect==0.5.22
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography-split_1681508727236/work
dataclasses-json==0.5.7
decorator==5.1.1
duckdb==0.7.1
emoji==2.2.0
entrypoints==0.4
et-xmlfile @ file:///home/conda/feedstock_root/build_artifacts/et_xmlfile_1674664118162/work
faiss-cpu==1.7.4
fastapi==0.95.1
filelock==3.12.0
frozenlist==1.3.3
fsspec==2023.4.0
gitdb==4.0.10
GitPython==3.1.31
h11==0.14.0
hnswlib==0.7.0
httptools==0.5.0
huggingface-hub==0.14.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
importlib-metadata==6.6.0
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
langchain==0.0.153
lxml==4.9.2
lz4==4.3.2
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
mdurl==0.1.2
monotonic==1.6
mpmath==1.3.0
multidict==6.0.4
mypy-extensions @ file:///home/conda/feedstock_root/build_artifacts/mypy_extensions_1675543315189/work
networkx==3.1
nltk==3.8.1
numexpr==2.8.4
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1682210472725/work
openai==0.27.5
openapi-schema-pydantic==1.2.4
openpyxl @ file:///Users/runner/miniforge3/conda-bld/openpyxl_1682610938393/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1682331689743/work
pandas-stubs @ file:///home/conda/feedstock_root/build_artifacts/pandas-stubs_1681346889471/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1678853982175/work
Pillow==9.5.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1682644429438/work
posthog==3.0.1
protobuf==3.20.3
pyarrow==11.0.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic==1.10.7
pydeck==0.8.1b0
Pygments==2.15.1
Pympler==1.0.1
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1680037383858/work
pyrsistent==0.19.3
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-dotenv==1.0.0
python-pptx==0.6.21
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1680088766131/work
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
regex @ file:///Users/runner/miniforge3/conda-bld/regex_1679599318860/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1682535435083/work
rich==13.3.5
scikit-learn==1.2.2
scipy==1.10.1
sentence-transformers==2.2.2
sentencepiece==0.1.98
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap==5.0.0
sniffio==1.3.0
SQLAlchemy==2.0.11
starlette==0.26.1
streamlit==1.22.0
sympy==1.11.1
tabulate==0.9.0
tenacity==8.2.2
threadpoolctl==3.1.0
tiktoken @ file:///Users/runner/miniforge3/conda-bld/tiktoken_1681242661921/work
tokenizers==0.13.3
toml==0.10.2
toolz==0.12.0
torch==2.0.0
torchvision==0.15.1
tornado==6.3.1
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1677948868469/work
transformers==4.28.1
types-pytz @ file:///home/conda/feedstock_root/build_artifacts/types-pytz_1680176259362/work
typing-inspect==0.8.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1678559861143/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
tzlocal==4.3
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1678635778344/work
uvicorn==0.22.0
uvloop==0.17.0
validators==0.20.0
watchfiles==0.19.0
websockets==11.0.2
XlsxWriter==3.1.0
yarl==1.9.2
zipp==3.15.0
zstandard==0.21.0
